
<h3>Distribution of the data types in the file</h3>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>% Numeric</th>
            <th>% Alphanumeric</th>
            <th>% Float</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{data?.DataPercentage.NumericDataPercentage}}</td>
            <td>{{data?.DataPercentage.AlphanumericDataPercentage}}</td>
            <td>{{data?.DataPercentage.FloatDataPercentage}}</td>
        </tr>
    </tbody>
</table>



<div *ngFor="let aDataWithTypes of data?.DataWithType" >
    <ul>
        <li>{{aDataWithTypes}}</li>
    </ul>
</div>