<input type="checkbox" #chkNumericPercentage (change)="chkNumericPercentage" id="chkNumericPercentage"> <label for="chkNumericPercentage">Numeric</label>
<input type="number" *ngIf="chkNumericPercentage.checked" [(ngModel)]="numericPercentage">
<br>
<input type="checkbox" #chkAlphanumericPercentage (change)="chkAlphanumericPercentage"  id="chkAlphanumericPercentage"> <label for="chkAlphanumericPercentage">Alphanumeric</label>
<input type="number" *ngIf="chkAlphanumericPercentage.checked" [(ngModel)]="alphanumericPercentage">
<br>
<input type="checkbox" #chkFloatPercentage (change)="chkFloatPercentage" id="chkFloatPercentage"> <label for="chkFloatPercentage">Float</label>
<input type="number" *ngIf="chkFloatPercentage.checked" [(ngModel)]="floatPercentage">
<br>

<label for="fileSizeinKb">Size of the output file (KB)</label>
<input type="number" id="fileSizeinKb" [(ngModel)]="fileSizeinKb" #fileSize >
<br>
<button type="button" [disabled]="!fileSizeinKb" (click)="onStratClick()">Start</button>
<button type="button" (click)="onStopClick()" >Stop</button>

<br>
<label for="numericValue">Counter 1 (Numeric)</label>
<input type="number" id="numericValue" [(ngModel)]="numericValue" readonly >
<br>
<label for="alphanumericValue">Counter 2 (Alphanumeric)</label>
<input type="text" id="alphanumericValue" [(ngModel)]="alphanumericValue" readonly >
<br>
<label for="floatValue">Counter 3 (Float)</label> 
<input type="number" id="floatValue" [(ngModel)]="floatValue" readonly>
<br>
<button type="button" [disabled]="!numericValue && !alphanumericValue && !floatValue" (click)="onGenerateReportClick()" >Generate Report</button>